*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: blueviolet;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(23, 89%, 54%, 0.584), hsla(352, 79%, 58%, 0.636), hsla(302, 60%, 34%, 0.685)), url(../../img/fondo.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(23, 89%, 54%, 0.584), hsla(352, 79%, 58%, 0.636), hsla(302, 60%, 34%, 0.685)), url(../../img/fondo.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    
    text-align: right;
    padding: 30px 50px 0 0;
    font-size: 20px;
    

}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .texto-header{
    display:flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.texto-header h1{
    font-size: 80px;
    color: #fff;
}

.texto-header h2{
    font-size: 50px;
    font-weight: 300;
    color: aliceblue;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.contenedor-sobre-mi{
    display: flex;
    justify-content: space-evenly;
    
}

.imagen-aboust-me{
    width: 48%;
    margin-right: 3%;
    
}

.sobre-nosotros .contenido-textos{
    width: 48%;
    
    
}

.contenido-textos h3{
    margin-bottom: 15px;
    font-size: 20px;
}

.contenido-textos h3 span{
    background: violet;
    color: blue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-right: 4%;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300%;
    text-align: justify;
}

main{
    background: #98fb98;
}